.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.vscode/
.idea/
airflow-logs/
logs/
*.db
*.sqlite
simple_auth_manager_passwords.json*
airflow.cfg
minio/data/
data/training_data.csv
.DS_Store
Thumbs.db
data/training_data.csv
*.ipynb